body{
    background-color:rgb(255, 255, 255);
}
.alternate_google_pages{
    text-align: right;
}
.google_search_link_on_google_images_class{
    text-align: right;
}
.link_to_google_search_from_advanced_search_class{
    text-align: right;
}
.alternate_google_pages a:link, .alternate_google_pages a:visited{
    color: rgb(77, 75, 75);
    font-size: 16px;
    text-decoration:none;
    font-family: arial;
}
.link_to_google_search_from_advanced_search_class a:link, .link_to_google_search_from_advanced_search_class a:visited{
    color: rgb(77, 75, 75);
    font-size: 16px;
    text-decoration:none;
    font-family: arial;
}
#google_search_link_on_google_images_id:visited, #google_search_link_on_google_images_id:link{
    color: rgb(77, 75, 75);
    font-size: 16px;
    text-decoration:none;
    font-family: arial;
}
.google_logo{
    margin-top: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    position: relative;
}
.google_images_logo{
    margin-top: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    position: relative;
}
#google_searchbar{
    border-radius: 50px;
    width: 596px;
    height: 40px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border: 1px solid lightgray;
    font-size: 19px;
}
#google_searchbar:focus{
    border-radius: 50px;
    width: 596px;
    height: 40px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border: 1px solid lightgray;
    font-size: 19px;
    outline: none;
}
#google_images_searchbar{
    border-radius: 50px;
    width: 596px;
    height: 40px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border: 1px solid lightgray;
    font-size: 19px;
}
#google_images_searchbar:focus{
    border-radius: 50px;
    text-align: center;
    height: 40px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border: 1px solid lightgray;
    font-size: 19px;
    outline: none;
}
#google_search_button{
    margin-left: 805px;
    margin-top: 20px;
    border: none;
    padding: 10px;
    font-size: 15px;
    color:rgb(49, 49, 49)
}
#google_search_button:hover{
    margin-top: 20px;
    border: solid;
    border-color: rgb(196, 196, 196);
    border-radius: 3px;
    border-width: .0001px;
    box-shadow: 0px 1px rgb(196, 196, 196);
    padding: 10px;
    font-size: 15px;
    padding: 10px;
    font-size: 15px;
    color:rgb(49, 49, 49)

}
#google_search_lucky_button{
    margin-left: 10px;
    border: none;
    padding: 10px;
    font-size: 15px;
    color:rgb(49, 49, 49) 
}
#google_search_lucky_button:hover{
    margin-top: 20px;
    border: solid;
    border-color: rgb(196, 196, 196);
    border-radius: 3px;
    border-width: .0001px;
    box-shadow: 0px 1px rgb(196, 196, 196);
    padding: 10px;
    font-size: 15px;
    padding: 10px;
    font-size: 15px;
    color:rgb(49, 49, 49)
}
.advanced_search_words_above_divider{
    display: inline;
}
.link_to_google_search_from_advanced_search{
    text-align: right;
}
.link_to_google_search_from_advanced_search a:link, .link_to_google_search_from_advanced_search a:visited{
    color: rgb(155, 155, 155);
    font-size: 20;
    text-decoration:none;
    font-family: arial;  
    text-align: right;
}
.advanced_search_words_above_divider{
    font-size: 25px;
    color: red;
    font-family: arial;
}
#all_these_words_text,#this_exact_word_or_phrase_text, #any_of_these_words_text,#none_of_these_words_text{
    display: inline;
    font-family: Arial;
    font-size: 15px;
}
#google_advanced_search_button{
    color:white;
    background-color: rgb(0, 110, 255);
    border: none;
    font-family: arial;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}